<h1>IT用語一覧</h1>

<% @it_words.each do |it_word| %>
  <%= it_word.word %>
  <%= it_word.body %>
  <%= link_to "編集する", edit_it_word_path(it_word) %>
  <%= link_to "削除する", it_word_path(it_word), method: :delete %>

  <!--bookmark機能-->
  <% if it_word.bookmarked_by?(current_user) %>
    <p>
      <%= link_to "♥", it_word_bookmark_path(it_word, it_word.bookmarks), method: :delete %>
    </p>
  <% else %>
    <p>
      <%= link_to "♡", it_word_bookmarks_path(it_word), method: :post %>
    </p>
  <% end %>

  <!--通報機能-->
  <% if it_word.dangered_by?(current_user) %>
    <p>
      <%= link_to "通報を取り消す", it_word_danger_path(it_word, it_word.dangers), method: :delete %>
    </p>
  <% else %>
    <p>
      <%= link_to "通報する", it_word_dangers_path(it_word), method: :post %>
    </p>
  <% end %>

<% end %>