<div class = "container">
  <main class = "mt-5 mx-auto pt-5">
    <div class ="col">
      <h1>【会員情報編集】</h1>
    </div>

    <!--エラーメッセージ-->
    <% if @user.errors.any? %>
      <div class = "text-danger">
        <%= @user.errors.count %>件のエラーが発生しました
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </div>
    <% end %>

    <div class = "edit-user">
      <%= form_with model: @user, local:true do |f| %>
        <h4>名前</h4>
        <%= f.text_field :name, value: @user.name %>
        <h4>メールアドレス</h4>
        <%= f.text_field :email, value: @user.email %></br>
        <%= f.submit "会員情報更新する" %>
      <% end %>
    </div>
  </main>
</div>