<h1>会員詳細</h1>

<h4>名前</h4>
<%= @user.name %>
<h4>メールアドレス</h4>
<%= @user.email %>

<% if current_user.is_admin? %>
  <%= link_to "強制退会する", user_path(@user), method: :delete %>
<% elsif current_user = @user %>
  <%= link_to "編集する", edit_user_path(@user) %>
  <%= link_to "退会する", user_path(@user), method: :delete %>
<% end %>

<h4>学習カレンダー</h4>

<h4>総学習数</h4>