<div class = "container mt-5">
  <h1 class = "mx-auto">【IT用語答え】</h1>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>IT用語</th>
        <th>意味</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @it_word.word %></td>
        <td><%= @it_word.body %></td>
        <!--bookmark機能-->
        <td id = "bookmark_<%= @it_word.id %>" >
          <%= render "bookmarks/bookmark", it_word: @it_word %>
        </td>
        <!--通報機能-->
        <td id = "danger_<%= @it_word.id %>" >
          <%= render "dangers/danger", it_word: @it_word %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class = "text-right">
    <button type = "button" class = "btn btn-outline-secondary btn-lg mb-5">
      <%= link_to "次の用語", category_quiz_it_words_path(category: @category.category) %>
    </button>
    <button type = "button" class = "btn btn-outline-secondary btn-lg mb-5">
      <%= link_to "学習終了", finish_it_words_path %>
    </button>
  </div>
</div>