<div class = "container">
  <main class = "mt-5 mx-auto pt-5">
    <div class ="col">
      <h1>【IT用語編集画面】</h1>
    </div>

    <div class = "edit-user">
      <%= form_with model: @it_word, local:true do |f| %>
        <h4>IT用語</h4>
        <%= f.text_field :word, value: @it_word.word %>
        <h4>意味</h4>
        <%= f.text_area :body, value: @it_word.body %></br>
        <%= f.collection_select :category_id, value: @it_word.category %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "IT用語更新する" %>
      <% end %>
    </div>
  </main>
</div>

<div class = "edit-word">

</div>