<h1>コース選択</h1>

<% if current_user.is_admin? %>

  <h4><%= link_to "通報を確認する", dangers_user_path(current_user) %></h4>

  <h4>検索する</h4>
  <%= form_with url: "/search", method: :get, local: true do |f| %>
    <%= f.text_field :search %>
    <%= f.submit "検索" %>
  <% end %>

  <h4>新着IT用語</h4>
  <%= @it_words %>

<% else %>

  <h4><%= link_to "学習モード", start_it_words_path %></h4>

  <h4><%= link_to "復習モード", bookmarks_user_path(current_user) %></h4>

  <h4>検索モード</h4>
  <%= form_with url: "/search", method: :get, local: true do |f| %>
    <%= f.text_field :search %>
    <%= f.submit "検索" %>
  <% end %>

  <h4>新着IT用語</h4>
  <%= @it_words %>

<% end %>