<div class = "container mt-5">
  <h1>【通報一覧】</h1>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>投稿者</th>
        <th>IT用語</th>
        <th>意味</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @dangers.each do |danger| %>
        <tr>
          <td><%= link_to danger.it_word.user.name, user_path(danger.it_word.user) %></td>
          <td><%= danger.it_word.word %></td>
          <td><%= danger.it_word.body %></td>
          <td><%= link_to "", edit_it_word_path(danger.it_word), class: "fas fa-cog" %></td>
          <td><%= link_to "", it_word_path(danger.it_word), method: :delete, class: "fas fa-ban" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>