<h1>通報一覧</h1>

<% @dangers.each do |danger| %>
  <p>投稿者</p>
  <%= link_to danger.user.name, user_path(danger.user) %>
  <%= danger.it_word.word %>
  <%= danger.it_word.body %>
  <%= link_to "編集する", edit_it_word_path(danger.it_word) %>
  <%= link_to "削除する", it_word_path(danger.it_word), method: :delete %>
<% end %>