<!DOCTYPE html>
<html>
  <head>
    <title>MAITAN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header>
        <li>
          <%= link_to "ロゴ", homes_choice_path %>
        </li>
        <li>
          <%= link_to "マイページ", user_path(current_user) %>
        </li>
        <li>
          <%= link_to "IT用語新規登録", new_it_word_path %>
        </li>
        <li>
          <%= link_to "IT用語一覧", it_words_index_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      </header>
    <% end %>

    <%= yield %>
  </body>
</html>
